{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris</title>
    <link rel="shortcut icon" href="img/mp-icono.png">
</head>

<body>
    <!--Header-->
    <header class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 " id="logo-header">
                <a href="{% url 'index' %}"><img class="img-logo" src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior ">
                <a id="espacio-inicio" href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 menu-superior">
                <a href="#">Quiénes somos</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior">
                <a class="#" href="{% url 'crearMascotas' %}">Servicios</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior">
                <a id="espacio-contactanos" href="#">Contáctanos</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior">
                <a id="espacio-registro" href="{% url 'formulario' %}">Registro</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 menu-superior">
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-right">
                    <ul class="navbar-nav my-2 my-lg-0">
                        {% if usuario is not None %}
                     <li class="nav-item cerrar_sesion white-text">Bienvenido {{usuario}}</li>
                     <div class="dropdown">
                            <a class="btn btn-secondary btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Acciones
                            </a>                    
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <a class="dropdown-item" href="{% url 'crearMascotas' %}">Crear Mascotas</a>
                              <a class="dropdown-item " href="{% url "cerrar_session" %}">Cerrar Sesión</a>
                            </div>
                          </div>
                      {% endif %}
                    </ul>
                </div>
            </div>

    <!---Formulario crea mascotas-->
    <div class="container formulario">
        <div class="row">
            <div class="col-md-12 col-lg-12"> 
                <form action="/crearMascotas/modificar/{{mascota.id}}" enctype="multipart/form-data" method="POST" id="formulario_mascotas"
                    class="bd-formulario">
                    {% csrf_token %}
                    <h1 class="text-center white-text registro">Modificar Mascota</h1>
                    <div class="row registro">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="white-text" for="nombre"><strong>Nombre</strong></label>
                                <input type="text" name="nombre" id="nombre" class="form-control" value="{{mascota.nombre}}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label class="white-text" for="foto"><strong>Imagen</strong></label>
                            <input type="file" name="foto" id="foto" class="form-control" value="{{mascota.foto}}">
                        </div>
                    </div>

                    <div class="row espacio">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="white-text" for="raza"><strong>Raza</strong></label>
                                <select class="form-control" name="raza" id="raza" value="{{mascota.raza}}">
                                    <option disabled select>Raza</option>
                                    <option value="afgano">Afgano</option>
                                    <option value="akita">Akita</option>
                                    <option value="boxer">Boxer</option>
                                    <option value="bulldog">Bulldog</option>
                                    <option value="collie">Collie</option>
                                    <option value="dalmata">Dalmata</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="white-text" for="estado"><strong>Estado</strong></label>
                                <select class="form-control" name="estado" id="estado" value="{{mascota.estado}}">
                                    <option disabled select>Estado mascota</option>
                                    <option value="Rescatado">Rescatado</option>
                                    <option value="disponible">Disponible</option>
                                    <option value="adoptado">Adoptado</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row espacio">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="white-text" for="descripcion"><strong>Descripción</strong></label>
                                <input class="form-control" rows="6" name="descripcion" cols="60" id="descripcion"
                                    value="{{mascota.descripcion}}">

                            </div>
                        </div>
                    </div>
                    <!--Botones formulario-->
                    <div class="row espacio-boton">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-block" value="modificar">
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped ">
        <thead class="thead ¡-success">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Raza</th>
                <th scope="col">Estado</th>
                <th scope="col">Descripción</th>
                <th scope="col">Foto</th>
            </tr>
        </thead>
        <tbody>
            {% for e in mascotas %}
            <tr>
                <th scope="row">{{e.id}}</th>
                <td> {{e.nombre}}</td>
                <td> {{e.raza}}</td>
                <td>{{e.estado}}</td>
                <td> {{e.descripcion}}</td>
                <td><img class="fotos-perros" src="/media/{{e.foto}}" alt="img" srcset=""></td>
                <td> <a class="btn btn-warning btn-block" href="eliminar/{{e.id}}" data-toggle="tooltip" data-placement="right" title="Eliminar"><i class="far fa-trash-alt fa-2x"></i></a></td>
                <td>
                    <a class="btn btn-danger btn-block" data-toggle="tooltip" data-placement="right" title="Modificar" href="administrarMascotas/{{e.id}}" onclick="editar('{{e.nombre}}','{{e.raza}}','{{e.estado}}','{{e.descripcion}}','{{e.foto}}','{{e.id}}')"><i class="far fa-edit fa-2x"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>




    <!--Footer-->
    <footer class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <p class="text-left"><strong>Desarrollo web y movil</strong></p>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.jsjs' %}"></script>
</body>

</html>