{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris | Formulario</title>
    <link rel="shortcut icon" href="img/mp-icono.png">
</head>

<body>
    <!--Header-->
    <header class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 " id="logo-header">
                <a href="{% url 'index' %}"><img class="img-logo" src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior ">
                <a id="espacio-inicio" href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 menu-superior">
                <a href="#">Quiénes somos</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior">
                <a class="#" href="#">Servicios</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior">
                <a id="espacio-contactanos" href="#">Contáctanos</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior">
                <a id="espacio-registro" href="{% url 'formulario' %}">Registro</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 menu-superior">
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </header>
    <!---Formulario-->
    <div class="container formulario" id="formulario-color">
        <div class="row">
            <div class="col-md-12 col-lg-12"> 
                <form action="/formulario/crear/" method="POST" id="formulario" class="bd-formulario">
                    {% csrf_token %}
                    <h1 class="text-center white-text registro">Registro de Usuario</h1>
                    <div class="row registro">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="white-text" for="nombre"><strong>Nombre</strong></label>
                                <input type="text" name="nombre" id="nombre" minlength="5" class="form-control"
                                    placeholder="Ingrese su nombre completo" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="run" class="white-text"><strong>Run</strong></label>
                                <input type="text" name="run" id="run" class="form-control mixed" placeholder="Ej: xx.xxx.xxx-x"
                                    maxlength="12">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="contrasenia" class="white-text"><strong>Contraseña</strong></label>
                                <input type="password" name="contrasenia" id="contrasenia" class="form-control"
                                    placeholder="**********" maxlength="12">
                            </div>
                        </div>

                    </div>
                    <div class="row espacio">
                        <div class="col-md-4">
                            <label class="white-text" for="fechanaci"><strong>Fecha de nacimiento</strong></label>
                            <input type="text" name="fechanaci" id="fechanaci" class="form-control date" max="2001-12-31"
                                maxlength="10" placeholder="MM/DD/AAAA" required>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="white-text" for="correo"><strong>Correo electrónico</strong></label>
                                <input type="email" name="correo" id="correo" class="form-control" placeholder="Ej: correo@dominio.com"
                                    required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="white-text" for="celular"><strong>Celular</strong></label>
                                <input type="text" name="celular" id="celular" class="form-control" placeholder="Ej: 9 99 99 99 99"
                                    maxlength="13" required>
                            </div>
                        </div>
                    </div>

                    <div class="row espacio">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="white-text" for="regiones"><strong>Región</strong></label>
                                <select class="form-control" name="regiones" id="regiones" required> </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="white-text" for="comunas"><strong>Ciudad</strong></label>
                                <select class="form-control" name="comunas" id="comunas" required></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="white-text" for="tipoCasa"><strong>Tipo casa</strong></label>
                                <select class="form-control" name="tipoCasa" id="tipoCasa" required>
                                    <option value="">Seleccione un Tipo</option>
                                    <option value="casa-gr">Casa con patio grande</option>
                                    <option value="casa-pq">Casa con patio pequeño</option>
                                    <option value="casa-s-p">Casa sin patio</option>
                                    <option value="dpto">Departamento</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <!--Botones formulario-->
                    <div class="row espacio-boton">
                        <div class="col-md-6">
                            <button type="button" class="btn btn-danger btn-block" onclick="limpiar()">Limpiar</button>
                            <br>
                        </div>

                        <div class="col-md-6">
                            <input type="submit" class="btn btn-success btn-block" value="Registrar">
                            <br>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Footer-->
    <footer class="container-fluid footer-form">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <p class="text-left"><strong>Desarrollo web y movil</strong></p>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>