{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}" type="text/css/">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris</title>
    <link rel="shortcut icon" href="img/mp-icono.png">
</head>

<body>
    <!--Header-->
    <header class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 " id="logo-header">
                <a href="{% url 'index' %}"><img class="img-logo" src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior ">
                <a id="espacio-inicio" href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 menu-superior">
                <a href="#">Quiénes somos</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior">
                <a class="#" href="{% url 'crearMascotas' %}">Servicios</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior">
                <a id="espacio-contactanos" href="#">Contáctanos</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-1 menu-superior">
                <a id="espacio-registro" href="{% url 'formulario' %}">Registro</a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 menu-superior">
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-right">
                <ul class="navbar-nav my-2 my-lg-0">
                    {% if usuario is not None %}
                 <li class="nav-item cerrar_sesion white-text">Bienvenido {{usuario}}</li>
                 <div class="dropdown">
                        {% if user.is_authenticated %}
                        <a class="btn btn-secondary btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Acciones
                          {% endif %}
                        </a>                    
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'crearMascotas' %}">Crear Mascotas</a>
                          <a class="dropdown-item " href="{% url "cerrar_session" %}">Cerrar Sesión</a>
                        </div>
                      </div>
                  {% endif %}
                </ul>
            </div>
        </div>
</div>

    <!---Carrusel-->
    <div id="carrusel" class="carousel slide" data-ride="carousel">
            
        <ol class="carousel-indicators">
            <li data-target="#carrusel" data-slide-to="0" class="active"></li>
            <li data-target="#carrusel" data-slide-to="1"></li>
            <li data-target="#carrusel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="{% static 'img/adoptados/Tom.jpg' %}" alt="Tom">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3">
                        <div class="carousel-caption d-none d-md-block text-center">
                            <p class="text-center  black-text">"Estamos felices de tener a Tom con nosotros. Es un
                                super fiel compañero"</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 slider-fix" src="{% static 'img/adoptados/Duque.jpg' %}" alt="Duque">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3">
                        <div class="carousel-caption d-none d-md-block text-center">
                            <p class="text-center white-text">"Estamos felices de tener a Duque con nosotros. Es un
                                super
                                fiel compañero"</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 slider-fix" src="{% static 'img/adoptados/Apolo.jpg' %}" alt="Apolo">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-3">
                        <div class="carousel-caption d-none d-md-block text-center">
                            <p class="text-center black-text">"Estamos felices de tener a Apolo con nosotros. Es un
                                super fiel compañero"</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carrusel" role="button" data-slide="prev">
            <span class="fas fa-angle-left fa-2x " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carrusel" role="button" data-slide="next">
            <span class="fas fa-angle-right fa-2x" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
  
    <!---Redes sociales-->
    <section class="container-fluid" id="redes-sociales">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <ul class="nav justify-content-center">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Facebook">
                        <a class="nav-link active" href="#"><i class="fab fa-facebook-f fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Gmail">
                        <a class="nav-link" href="#"><i class="fab fa-google-plus-g fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Instagram">
                        <a class="nav-link" href="#"><i class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Mail">
                        <a class="nav-link" href="#"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!---Contenido-->
    <section class="container-fluid contenido">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-right">
                <h2 class="uppercase ">rescate</h2>
                <p class="subtitulo">etapa uno</p>
                <hr>
                <p class="text-right">
                    Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los preparamos para
                    buscarles un hogar.
                </p>
                <a href="{% static 'img/rescate.jpg'%}" data-lightbox="contenido" data-title="Rescate" ><img class="imagen" src="{% static 'img/rescate.jpg' %}" alt="Perro Negro"></a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-left crowfunding">
                <a href="{% static 'img/crowfunding.jpg'%}" data-lightbox="contenido" data-title="Rescate" ><img class="imagen" src="{% static 'img/crowfunding.jpg' %}" alt="crowfunding"></a>
                <h2>crowfunding</h2>
                <p class="subtitulo">financiamiento</p>
                <hr>
                <p class="text-left">
                    Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades que
                    realizamos para obtener financiamiento para seguir ayudando.
                </p>
                <button class="btn btn-outline-dark" id="boton" type="button">CAMPAÑA</button>
            </div>
        </div>
    </section>
    <!--Galeria-->
    <section id="galeria" class="container-fluid">
        <div class="row">
            <div class="col-4 col-lg-4 img-oso">
                <a href="{% static 'img/rescatados/Oso.jpg'%}" data-lightbox="roadtrip" data-title="Oso" ><img src="{% static 'img/rescatados/Oso.jpg' %}"alt="Oso"></a> 
                <div class="row">
                    <div class="col-12 col-lg-11 img-maya">
                        <a href="{% static 'img/rescatados/Maya.jpg'%}" data-lightbox="roadtrip" data-title="Maya" ></a><img id="maya" src="{% static 'img/rescatados/Maya.jpg' %}" alt="Maya">
                        <div class="row">
                            <div class="col-12 col-lg-12 img-wifi">
                                <a href="{% static 'img/rescatados/Wifi.jpg'%}" data-lightbox="ro" data-title="Wifi" ><img  id="wifi" src="{% static 'img/rescatados/Wifi.jpg' %}" alt="Wifi" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 col-lg-3 img-chocolate">
                <a href="{% static 'img/rescatados/Chocolate.jpg' %}" data-lightbox="roadtrip" data-title="Chocolate" ><img id="chocolate"  src="{% static 'img/rescatados/Chocolate.jpg' %}" alt="Chocolate"></a>
                <div class="row">
                    <div class="col-12 col-lg-12 img-pexel">
                        <a href="{% static 'img/rescatados/Pexel.jpg' %}" data-lightbox="roadtrip" data-title="Pexel" data-alt="Pexel" ><img id="pexel"  src="{% static 'img/rescatados/Pexel.jpg' %}" alt="Pexel"></a>
                    </div>
                </div>
            </div>
            <div class="col-5 col-lg-5 img-bigotes">
                <a href="{% static 'img/rescatados/Bigotes.jpg' %}" data-lightbox="roadtrip" data-title="Bigotes" ><img id="bigotes" src="{% static 'img/rescatados/Bigotes.jpg' %}" alt="Bigotes"></a>
                <div class="row">
                    <div class="col-12  col-lg-12 img-luna">
                        <a href="{% static 'img/rescatados/Luna.jpg' %}" data-lightbox="roadtrip" data-title="Luna" ><img id="luna" src="{% static 'img/rescatados/Luna.jpg' %}" alt="Luna"></a>
                    </div>
                </div>
            </div>
        </div>

    </section>
   
    <!--Footer-->
    <footer class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <p class="text-left"><strong>Desarrollo web y movil</strong></p>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/app.jsjs' %}"></script>
    

</body>

</html>